---
import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import type { Contact as Props } from '~/types';
import Button from '../ui/Button.astro';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline = await Astro.slots.render('tagline'),
  description = await Astro.slots.render('description'),
  id,
  disclaimer,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
  button = 'Register',
} = Astro.props;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-7xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <Headline title={title} subtitle={subtitle} tagline={tagline} />

  <div
    class="flex flex-col max-w-xl mx-auto rounded-lg backdrop-blur border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900 shadow p-4 sm:p-6 lg:p-8 w-full"
  >
    <div class="mb-6">
      <label for="fullName" class="block text-sm font-medium"> Full Name </label>
      <input
        type="text"
        name="fullName"
        id="fullName"
        autocomplete="off"
        placeholder="Full Name"
        class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
      />
    </div>

    <div class="mb-6">
      <label for="phoneNumber" class="block text-sm font-medium"> Phone Number </label>
      <input
        type="tel"
        name="phoneNumber"
        id="phoneNumber"
        autocomplete="off"
        placeholder="Phone Number"
        class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
      />
    </div>

    <div class="mb-6">
      <label for="emailId" class="block text-sm font-medium"> Email </label>
      <input
        type="email"
        name="emailId"
        id="emailId"
        autocomplete="off"
        placeholder="Email Id"
        class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
      />
    </div>

    <div class="mb-6">
      <label for="gender" class="block text-sm font-medium"> Gender </label>
      <select
        id="gender"
        name="gender"
        class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
      >
        <option disabled selected>Gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Don't wish to Disclose</option>
      </select>
    </div>

    <div class="mb-6">
      <label for="workType" class="block text-sm font-medium"> I'm Applying For </label>
      <select
        id="workType"
        name="workType"
        class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
      >
        <option disabled selected>Applying For</option>
        <option value="partTime">Part-Time Care Companionship</option>
        <option value="fullTime">Full-Time Care Companionship</option>
        <option value="residentBuddy">Resident Buddy</option>
        <option value="homeCareNursing">Home Care Nursing</option>
      </select>
    </div>

    {
      disclaimer && (
        <div class="mt-3 flex items-start">
          <div class="flex mt-0.5">
            <input
              id="disclaimer"
              name="disclaimer"
              type="checkbox"
              class="cursor-pointer mt-1 py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
            />
          </div>
          <div class="ml-3">
            <label for="disclaimer" class="cursor-pointer select-none text-sm text-gray-600 dark:text-gray-400">
              {disclaimer.label}
            </label>
          </div>
        </div>
      )
    }

    <div class="mt-10 grid">
      <Button variant="primary" type="submit">
        {button}
      </Button>

      {
        description && (
          <div class="mt-3 text-center">
            <p class="text-sm text-gray-600 dark:text-gray-400">{description}</p>
          </div>
        )
      }
    </div>
  </div>
</WidgetWrapper>
